---
name: Pull Request

on:
  workflow_call:
    inputs:
      pr:
        description: 'Pull request to check'
        required: true
        type: string
  pull_request:
    branches:
      - main

jobs:
  _:
    runs-on: ubuntu-latest
    steps:
      # it is a push event because it is coming from the caller
      - if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ inputs.pr }}/merge
          fetch-depth: 0
      - if: ${{ github.event_name == 'pull_request' }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - name: Dump env
        run: env | sort
      - name: List repo
        run: ls -l
      - name: Force failure
        run: exit 1
